<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pokémon Gacha</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="page">
        <h1 class = "title"><strong>Hooray, you rolled <%- pokemon -%></strong><h1><br>
        <div>
            <a href="/welcome">Home</a>
        </div>
        <div>
            <img src="<%= spriteUrl %>" alt="Pokémon Sprite" height="300px"/>
        </div>
    </div>
</body>
</html>