<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Pokémon Gacha</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="page">
        <h1 class = "title"><strong> Welcome to Pokemon Gacha, <%- name %></strong><h1><br>
        <strong>Click here to roll a pokemon!</strong>
        <div>
            <a href="/gacha">Roll!</a>
        </div>
    </div>
</body>
</html>